﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Google Books</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div id="loadingPage">
        <center>
            <div class="itemloading circleloading">
                <div class="barloading bar1loading"></div>
                <div class="barloading bar2loading"></div>
                <div class="barloading bar3loading"></div>
                <div class="barloading bar4loading"></div>
                <div class="barloading bar5loading"></div>
                <div class="barloading bar6loading"></div>
                <div class="barloading bar7loading"></div>
                <div class="barloading bar8loading"></div>
                <div class="barloading bar9loading"></div>
                <div class="barloading bar10loading"></div>
                <div class="barloading bar11loading"></div>
                <div class="barloading bar12loading"></div>
            </div>
            <br />
            Aguarde ...
        </center>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Google Books", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Pesquisa", "Pesquisa", "Sistema")</li>
                    <li>@Html.ActionLink("Meus favoritos", "Favoritos", "Sistema")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Google Books</p>
        </footer>
    </div>

    <div class="modal" tabindex="-1" role="dialog" style="background: #000000b0;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -35px; margin-right: 17px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <script src="~/Scripts/jquery-ajax.js"></script>
    <script src="~/Scripts/Page/Todos.js"></script>
</body>
</html>
