﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.page{
    max-width: 1170px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.div-flex {
    display: flex;
}

.div-flex > div {
    padding: 2px;
    text-align: justify;
}

.max-input{
    max-width: 2231px;
}

.max{
    width: 100%;
}

.titulo {
    margin-top: 5px;
    text-align: center;
}

.normal {
    background-color: #e9e8e8;
    border-color: #ccc;
    color: #b6b6b6;
}
#loadingPage {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 999;
    background: #ffffffeb;
    overflow: hidden;
    top: 0px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 80px;
    padding-top: 100px;
    display: none;
}
.favorito {
    background-color: #e9e8e8;
    border-color: #ccc;
    color: orange;
}

.favorito:hover {
    background-color: #e9e8e8;
    border-color: #ccc;
    color: orange;
}

.itemloading {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1695A3;
    margin-top: 100px;
    position: relative;
    box-sizing: border-box;
}

    .itemloading.circleloading {
        opacity: 1;
        background-color: transparent;
    }

        .itemloading.circleloading .barloading {
            height: 40px;
            width: 5px;
            border-radius: 5px;
            display: block;
            background-color: #808080;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 50%;
            transform-origin: center bottom;
            animation: loading-bar 1.2s ease-in-out infinite;
        }

            .itemloading.circleloading .barloading.bar1loading {
                transform: translateX(-50%) rotate(30deg);
                animation-delay: -0.1s;
            }

            .itemloading.circleloading .barloading.bar2loading {
                transform: translateX(-50%) rotate(60deg);
                animation-delay: -0.2s;
            }

            .itemloading.circleloading .barloading.bar3loading {
                transform: translateX(-50%) rotate(90deg);
                animation-delay: -0.3s;
            }

            .itemloading.circleloading .barloading.bar4loading {
                transform: translateX(-50%) rotate(120deg);
                animation-delay: -0.4s;
            }

            .itemloading.circleloading .barloading.bar5loading {
                transform: translateX(-50%) rotate(150deg);
                animation-delay: -0.5s;
            }

            .itemloading.circleloading .barloading.bar6loading {
                transform: translateX(-50%) rotate(180deg);
                animation-delay: -0.6s;
            }

            .itemloading.circleloading .barloading.bar7loading {
                transform: translateX(-50%) rotate(210deg);
                animation-delay: -0.7s;
            }

            .itemloading.circleloading .barloading.bar8loading {
                transform: translateX(-50%) rotate(240deg);
                animation-delay: -0.8s;
            }

            .itemloading.circleloading .barloading.bar9loading {
                transform: translateX(-50%) rotate(270deg);
                animation-delay: -0.9s;
            }

            .itemloading.circleloading .barloading.bar10loading {
                transform: translateX(-50%) rotate(300deg);
                animation-delay: -1.0s;
            }

            .itemloading.circleloading .barloading.bar11loading {
                transform: translateX(-50%) rotate(330deg);
                animation-delay: -1.1s;
            }

            .itemloading.circleloading .barloading.bar12loading {
                transform: translateX(-50%) rotate(360deg);
                animation-delay: -1.2s;
            }

        .itemloading.circleloading:after {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 1;
            transform: translateX(-50%) translateY(-50%);
        }

@keyframes width {
    0% {
        width: 0;
        left: 50%;
        opacity: 1;
    }

    90% {
        width: 100%;
        left: 0%;
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes height1 {
    0% {
        height: 30%;
    }

    50% {
        height: 50%;
    }

    100% {
        height: 30%;
    }
}

@keyframes height2 {
    0% {
        height: 50%;
    }

    50% {
        height: 30%;
    }

    100% {
        height: 50%;
    }
}

@keyframes height3 {
    0% {
        height: 20%;
    }

    50% {
        height: 70%;
    }

    100% {
        height: 20%;
    }
}

@keyframes transform_scale {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes loading-bar {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}