﻿@{
    ViewBag.Title = "Pesquisa";
}
<script src="~/Scripts/Page/Pesquisa.js"></script>

<h2>Pesquisa</h2>
<hr />
<div class="div-flex">
    <div class="max"><input class="form-control max-input" type="text" id="nomeLivro" placeholder="Digite o nome do livro" /></div>
    <div><a class="btn btn-primary" onclick="PesquisarLivro()"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</a></div>
</div>
<div id="pagina-resultado" style="display: none;">
    <hr />

    <div class="page">
        <div style="display: none">
            <select class="form-control" id="pagina"></select>
        </div>

        <div id="resultado-final"></div>
    </div>
</div>